* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to right bottom, #d13cff, #031f6a);
    color: #000;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}

h1 {

    font-size: 55px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(315deg, #ffffff 43%, rgb(247, 241, 170) 53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 8%;

}

/* back arrow */

a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.arrow {
    /* cursor: pointer; */
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 30px;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 1;
}

.arrow-top,
.arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.arrow-bottom:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.1s;
}

.arrow-top:after {
    background-color: yellow;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.1s;
}

.arrow-top {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.arrow-top:after {
    right: 100%;
    left: 0;
    transition-delay: 0s;
}

.arrow-bottom {
    transform: rotate(45deg);
    transform-origin: top left;
}

.arrow-bottom:after {
    right: 0;
    left: 100%;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
    right: 0;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
    left: 0;
    transition-delay: 0s;
}

.arrow:active {
    transform: translateX(50%) translateY(-50%) scale(0.9);
}

.arrow span {
    display: block;
    width: 3em;
    opacity: 0;
    transition: opacity 0.3s 0s;
    padding: 0 0.5em;
}

.arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}


.container {
    width: 750px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    /* margin-bottom: 20%; */
    margin-top: 2%;
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-left: 1px solid #bbb;
    border-radius: 0px;
}

.text-input textarea {
    height: 280px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    resize: none;
}

.controls,
li,
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    color: #9f9f9f;
    font-size: 18px;
    cursor: pointer;
    width: 50px;
}

.controls .row select {
    border: none;
    outline: none;
    font-size: 22px;
    background: none;
}

.controls .exchange {

    color: #9f9f9f;
    font-size: 18px;
    cursor: pointer;
}

.controls .row.from .icons {
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons {
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.btn{
    /* background-color: #d13cff; */
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    width: 750px;
    padding: 14px;
    margin-top: 50px;
    border: none;
    outline: none;
    background: #5372F0;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    cursor: pointer; 
    margin-bottom: 10%;
}

button {
    padding: 15px 20px;
    background: #0d90c0;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

    box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 8px 9px -5px rgba(0, 0, 0, 0.55);
}

button:hover {

    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);

}
